[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CINE"]
	path = CINE
	url = https://github.com/musajajorge/cine
[submodule "makePalette"]
	path = makePalette
	url = https://github.com/musajajorge/makepalette
[submodule "MakeYourPalette"]
	path = MakeYourPalette
	url = https://github.com/cran/MakeYourPalette
[submodule "mapsPERU"]
	path = mapsPERU
	url = https://github.com/musajajorge/mapsperu
[submodule "popPyramid"]
	path = popPyramid
	url = https://github.com/musajajorge/poppyramid
