[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CINE"]
	path = CINE
	url = https://github.com/musajajorge/cine
	shallow = true
	registered = true
[submodule "makePalette"]
	path = makePalette
	url = https://github.com/musajajorge/makepalette
	shallow = true
	registered = true
[submodule "popPyramid"]
	path = popPyramid
	url = https://github.com/musajajorge/poppyramid
	shallow = true
	registered = true
